@import "tailwindcss";

:root {
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  /* Font size 18px */
  --text-base: 1.125rem;

  --font-sans: var(--font-barlow);
  --font-serif: var(--font-fraunces);

  /* Primary colors */
  --color-red-400: hsl(7, 99%, 70%);
  --color-yellow-500: hsl(51, 100%, 49%);
  /* graphic design text: */
  --color-green-800: hsl(167, 40%, 24%);
  /* photography text: */
  --color-blue-800: hsl(198, 62%, 26%);
  /* footer: */
  --color-green-500: hsl(167, 34%, 41%);

  /* Neutral colors*/
  --color-gray-950: hsl(212, 27%, 19%);
  --color-gray-600: hsl(213, 9%, 39%);
  --color-gray-550: hsl(232, 10%, 55%);
  --color-gray-400: hsl(210, 4%, 67%);
}

* {
  /* @apply outline outline-red-500; */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow), Arial, Helvetica, sans-serif;
  font-size: var(--text-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-fraunces), Arial, Helvetica, sans-serif;
}
